@import url('https://fonts.googleapis.com/css?family=Inknut+Antiqua:600&display=swap');body{
	background-image: url(imagenes/fondo.jpg);
}
#contenedor{
	width: 930px;
	height: 800px;
	margin-left:auto;
	margin-right:auto;
	

}
header{
	width:930px;
	height:156px;
		border-radius:25px 25px 0px 0px;
box-shadow: 10px 10px 5px #1a091a;

}
#titulo{
	width: 658px;
	height: 156px;
	line-height:156px;
	background-color:#f50707;
	float: left;
	font-family: 'Cinzel Decorative', cursive;
	font-size: 40px;
	text-shadow:17px 17px 3px #423e42;
	color:#fff;
	text-align: center;
	border-radius:25px 0px 0px 0px;
}
#imagen{
	width:272px;
	height:156px;
	float:right;
	background-color:#edf72a;
	background-image:url(imagenes/logo.png);
	border-radius:0px 25px 0px 0px;
}
#m{
	background-color: #000;
	height: 60px;
		border-radius:0px 0px 25px 25px;
box-shadow: 10px 10px 5px #1a091a;

}
nav#menu{
	width: 750px;
	height: 156px;
	 
	font-family: Arial;
	font-size: 20px;
	color:#000;
}
}
.menu ul.botonera li{
	margin: 0;
	padding: 0;
	list-style-type:none;
	display:inline;
}
#menu ul.botonera li a{
	width:150px;
	height:60px;
	line-height:50px;
	background-color:#d12c2c;
	margin-bottom:1px;
	display:inline-block;
	color:#FFf;
		font-family:'Inknut Antiqua',serif;
	text-decoration:none;
	text-align:center;
	border:1px #4d3836 solid;
}
.botonera > li{
	position:relative;
	display:inline-block;
}
.botonera > li a{
	margin:0;
	padding:0;
	list-style-type: none;
	color:#000;
    font-family:arial, verdana, tahoma;
    text-decoration:none;
}
#menu ul.botonera li a:hover{
	background-color:#f78605;
	display:block;
	color:#fff;
font-family:arial,verdana,tahoma;
}
.submenu {
	margin:0;
	padding:0;
	list-style:none;
}

.submenu{
	width:100%;
	position:absolute;
	display:none;
}
.submenu li a{
	display:inline-block;
	padding:15px;
	color:#fff;
	font-family:arial,verdana,tahoma;
	text-decoration:none;
}
.botonera li:hover .submenu{
	
	display:block;
	padding:15px 20px;
}
#datos{
	background-color: #db6f16;
		border-radius:25px 25px 25px 25px;
box-shadow: 10px 10px 5px #1a091a;

}
#datos h1 {
	color:#000;
	font-family: Arial;
	text-align: center;
	line-height: 100px;
	font-size: 20px;
}
#datos p{
	color:#000;
	font-family: Arial;
	text-align: center;
	line-height: 80px;
	font-size: 18px;
}